pipeline/Ingestion_Product_To_JSON.json
{
	"name": "Ingestion_Product_To_JSON",
	"properties": {
		"activities": [
			{
				"name": "find total record count of Product Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as productCount\nfrom saleslt.Customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "check if product records more than 10",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "find total record count of Product Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('find total record count of Product Table').output.firstRow.productCount,10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data as JSON",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ProductTable",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "JSON_GENERIC_DS",
									"type": "DatasetReference",
									"parameters": {
										"jsonOutputPath": "ProductJsonOutput"
									}
								}
							]
						},
						{
							"name": "Pipeline to check address records and copy data as csv",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy data as JSON",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Ingestion_Product_Addres_To_JSON",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-14T13:21:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}