pipeline/Ingestion_Product_Addres_To_JSON.json
{
	"name": "Ingestion_Product_Addres_To_JSON",
	"properties": {
		"activities": [
			{
				"name": "record count for address table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as addressCount\nfrom saleslt.address",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "check address records more than 10",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "record count for address table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('record count for address table').output.firstRow.addressCount,100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy address data as CSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_GENERIC_DS",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "saleslt",
										"tableName": "Address"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_GENERIC_DS",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "Address"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-14T13:21:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}